.no-padding-left{
     padding-left: 0 ;
}


.col-form-image{
    border-radius: 0.25rem;
    margin-top: 1.5rem;
}


body{
  font-family: "Georgia", "Microsoft YaHei" !important;
}

.m-body .m-content {
    padding: 15px 15px !important;
}

.m-login.m-login--2 .m-login__wrapper .m-login__container {
    width: 350px !important;
    margin: 0 auto;
}
.m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__logo {
    text-align: center;
    margin: 0 auto 2rem auto !important;}